@page
@model WebApp.Pages.DeckMgmt.AllModel
@{
}

@if(@Model.Decks == null || @Model.Decks.Count <= 0)
{
    <div>
        <p>Not deck found</p>
    </div>
}
else
{
    foreach(Deck deck in Model.Decks)
    {
        <div>
            @deck.Name
            <a asp-page="/DeckMgmt/Show" asp-route-id="@deck.Id">Show</a>
            <a asp-page="/DeckMgmt/Edit"  asp-route-id="@deck.Id">Edit</a>
            <a asp-page="/DeckMgmt/Delete"  asp-route-id="@deck.Id">Delete</a>
        </div>
    }
}