@page "/Card/Edit"
@model WebApp.Pages.CardManagment.EditModel
@{
}


<div class="border border-dark rounded p-4 pt-2 mt-4 shadow">

    <h1 class="display-6">Edit card</h1>
    <form method="post" asp-route-MainReferer="@Model.MainReferer">

        @*<div asp-validation-summary="All" class="text-danger"></div>*@

        <input asp-for="@Model.Card.Id" hidden />
        <input asp-for="@Model.Card.DeckId" hidden />

        @*<label asp-for="@Model.Card.Question"></label>*@
        <input asp-for="@Model.Card.Question" placeholder = "Question" class="form-control" />
        <span asp-validation-for="@Model.Card.Question" class="text-danger"></span>
        <br />

        @* <label asp-for="@Model.Card.Answer"></label>*@
        <textarea asp-for="@Model.Card.Answer" placeholder="Answer" class="form-control" rows="8" ></textarea>
        <span asp-validation-for="@Model.Card.Answer" class="text-danger"></span>
        <br />

        <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Save changes</button>

       

    </form>
</div>


 @if (Model.IsEdited is true)
        {
            <div class="alert alert-success mt-4 shadow">Your card edited successfuly</div>
        }
        else if (Model.IsEdited is false)
        {
            <div class="alert alert-danger mt-4">You card is not edited</div>
        }

<a href="@Model.MainReferer" class="btn btn-outline-primary mt-4 shadow"><i class="fas fa-chevron-left"></i> Back</a>