@page "/Card/Edit"
@model WebApp.Pages.CardManagment.EditModel
@{
}

<h1>Edit card</h1>
<hr />

<form method="post" asp-route-MainReferer = "@Model.MainReferer">

    <div asp-validation-summary="All" class="text-danger"></div>

    <input asp-for="@Model.Card.Id" hidden />
    <input asp-for="@Model.Card.DeckId" hidden/>

    <label asp-for="@Model.Card.Question"></label>
    <input asp-for="@Model.Card.Question" class="form-control" />
    <span asp-validation-for="@Model.Card.Question" class="text-danger"></span>
    <br />

    <label asp-for="@Model.Card.Answer"></label>
    <input asp-for="@Model.Card.Answer" class="form-control" />
    <span asp-validation-for="@Model.Card.Answer" class="text-danger"></span>
    <br />

    <button type="submit" class="btn btn-primary">Save changes</button>
    
    @if (Model.IsEdited is true)
    {
        <div class="alert alert-success">Your card edited successfuly</div>
    }
    else if(Model.IsEdited is false)
    {
        <div class="alert alert-danger">You card is not edited</div>
    }

</form>

<hr />

<a href="@Model.MainReferer">Back</a>