@page "/Card/Edit"
@model WebApp.Pages.CardManagment.EditModel
@{
    //Message
    SuccessErrorPartialViewModel message = null;

    if (Model.IsEdited is true)
    {
        message = new() { Message = "Your card is <strong>edited succssfully</strong>", MessageType = MessageType.Success };
    }
    else
    {
        message = new() { Message = "Your card <strong>is not edited!</strong>", MessageType = MessageType.Error };
    }

    AddNewEditCardPartialViewModel addNewEditCardPartialViewModel = new()
            {
                IsForEdit = true,
                Input = new() { Card = Model.Input.Card, Images = Model.Input.Images }
            };

    //Show image
    ShowImagesPartialViewModel showImagesPartialViewModel = new()
            {
                IsForEdit = true,
                Images = Model.Input.Card.Images
            };
}

@if (Model.IsEdited is true)
{
    <partial name="_SuccessErrorMessagePartial" model="message" />
}
else if (Model.IsEdited is false)
{
    <partial name="_SuccessErrorMessagePartial" model="message" />
}


<div class="border border-dark rounded p-4 pt-2 mt-4 shadow">

    <h1 class="display-6">Edit card</h1>
@*    <form method="post" enctype="multipart/form-data">
*@
        @*<div asp-validation-summary="All" class="text-danger"></div>*@
        @*
            <input asp-for="Input.Card.Id" hidden />
            <input asp-for="Input.Card.DeckId" hidden />*@

        @*<label asp-for="@Model.Card.Question"></label>*@
        @*        <input asp-for="Input.Card.Question" placeholder="Question" class="form-control" />
            <span asp-validation-for="Input.Card.Question" class="text-danger"></span>
            <br />*@

        @* <label asp-for="@Model.Card.Answer"></label>*@
        @*        <textarea asp-for="Input.Card.Answer" placeholder="Answer" class="form-control" rows="4"></textarea>
            <span asp-validation-for="Input.Card.Answer" class="text-danger"></span>
            <br />

            <input asp-for="Input.Images" class="form-control mb-4">
            <br />
        *@

        <partial name="/Pages/CardManagment/Partials/_AddNewEditCardPartialTemplate.cshtml" model="@addNewEditCardPartialViewModel" />

@*    </form>
*@</div>

<a asp-page="@Pages.DeckManagment.DetailModel.AbsolutePath" asp-route-DeckId="@Model.Input.Card.DeckId" class="btn btn-outline-primary mt-4 shadow"><i class="fas fa-chevron-left"></i> Back</a>

@section Scripts
{
<script src="~/lib/fancybox/jquery.fancybox.min.js" asp-append-version="true"></script>
}