@page "/Deck/Detail"
@model WebApp.Pages.DeckManagment.DetailModel
@{
    ViewData["Title"] = $"Deck Detial - {Model.Deck.Name}";

    AddNewEditCardPartialViewModel addNewEditCardPartialViewModel = new();
    addNewEditCardPartialViewModel.IsForEdit = false;
    addNewEditCardPartialViewModel.Input.Card.DeckId = Model.Deck.Id;
}

<div class="border border-dark rounded p-4 mb-4 mt-4 shadow">
    <a asp-page="@Pages.IndexModel.Path" class="btn btn-outline-primary"><i class="fas fa-chevron-left"></i> Back</a>
    <a asp-page="@DeckManagment.ReviewModel.AbsolutePath" asp-route-DeckId="@Model.Deck.Id" class="btn btn-outline-primary "><i class="fas fa-book-reader"></i> Today review</a>
</div>

<div class="border border-dark rounded p-4 pt-2 mb-4 mt-4 shadow">
    <h2 class="display-6">Add new card</h2>
    <partial name="/Pages/CardManagment/Partials/_AddNewEditCardPartialTemplate.cshtml" model="@addNewEditCardPartialViewModel" />
</div>

<div class="border border-dark rounded p-4 pt-2 mb-4 mt-4 shadow">
    <h2 class="display-6">Deck details</h2>

    @if (@Model.Deck.Cards?.Count <= 0)
    {
        <p>No cards found for this deck.</p>
    }
    else
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@nameof(Card.Question)</th>
                    <th>@nameof(Card.Answer)</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Card card in Model.Deck.Cards)
                {
                    int maxAnswerLength = 20;
                    string cleanAnsewerText = TextHelper.StripHTML(card.Answer);
                    string answer = $"{cleanAnsewerText.Substring(0, cleanAnsewerText.Length > maxAnswerLength ? maxAnswerLength : cleanAnsewerText.Length)} ...";

                    <tr>
                        <td>@card.Question</td>
                        <td>@answer</td>
                        <td><a asp-page="@CardManagment.EditModel.AbsolutePath" asp-route-CardId="@card.Id"><i class="fas fa-edit"></i> Edit</a></td>
                        <td>
                            <a style="color:red" asp-controller="Card" asp-action="Delete" asp-route-CardId="@card.Id">
                                <i class="fas fa-trash-alt"></i> Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <hr />

    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="First group">
            @for (int i = 1; i <= Model.NumberOfPages; i++)
            {
                bool isCurrentPageNumber = i == Model.CurrentPageNmber;
                string style = "btn-light";
                if (isCurrentPageNumber) style = "btn-dark";

                <a style=@style asp-page="@DeckManagment.DetailModel.AbsolutePath" asp-route-DeckId="@Model.Deck.Id" asp-route-PageNumber="@i" class="btn @style"><strong>@i</strong></a>
            }
        </div>
    </div>

</div>