@page "/Deck/Detail"
@inject TextHelper textHelper

@model WebApp.Pages.DeckManagment.DetailModel
@{
    ViewData["Title"] = $"Deck Detial - {Model.CurrentDeck.Name}";

    AddNewEditCardPartialViewModel addNewEditCardPartialViewModel = new();
    addNewEditCardPartialViewModel.IsForEdit = false;
    addNewEditCardPartialViewModel.Input.Card.DeckId = Model.CurrentDeck.Id;
}

@*<div class="border border-dark rounded p-4 mb-4 mt-4 shadow">
    <a asp-page="@Pages.IndexModel.AbsolutePath" class="btn btn-outline-primary"><i class="fas fa-chevron-left"></i> برگشت</a>
    <a asp-page="@DeckManagment.ReviewModel.AbsolutePath" asp-route-DeckId="@Model.CurrentDeck.Id" class="btn btn-outline-primary "><i class="fas fa-book-reader"></i> دوره کردن کارت های امروز</a>
</div>
*@
<div class="border rounded p-4 pt-2 mb-4 mt-4 shadow bg-white">
    <h4 class="mt-4 rtl"><i class="fa fa-plus"></i> افزودن کارت تازه </h4>
    <form method="post" asp-page="@Pages.DeckManagment.DetailModel.AbsolutePath" asp-route-deckId="@Model.CurrentDeck.Id" asp-route-pageNumber="@Model.CurrentPageNmber" enctype="multipart/form-data">
        <input hidden asp-for="Input.Card.Id" value="0" />
        <input hidden asp-for="Input.Card.DeckId" value="@Model.CurrentDeck.Id" />

        <input asp-for="Input.Card.Question" class="form-control rtl mt-4" placeholder="پرسش" value="" />
        <div class="rtl mt-1">
            <span asp-validation-for="Input.Card.Question" class="text-danger rtl"></span>
        </div>

        <div id="editor" class="form-control border rounded-2 mt-3"></div>
        <textarea hidden asp-for="Input.Card.Answer" class="form-control" rows="4" placeholder="پاسخ خود را اینجا بنویسید ..." value=""></textarea>

        <div class="rtl mt-1">
            <span asp-validation-for="Input.Card.Answer" class="text-danger rtl"></span>
        </div>

        <input asp-for="Input.Images" class="form-control mt-3 rtl" placeholder="گزینش فایل برای بارگذاری ...">

        <button id="submit" type="submit" class="btn btn-primary mt-4 rtl"><i class="fas fa-save"></i> ذخیره کارت</button>
    </form>
</div>

<div class="border rounded p-4 pt-2 mb-4 mt-4 shadow bg-white rtl">
    <h4 class="pb-4 pt-4 rtl"><i class="fa fa-layer-group"></i> کارت ها</h4>

    @if (@Model.CurrentDeck.Cards?.Count <= 0)
    {
        <p class="mt-4">هیچ کارتی در این دسته یافت نشد</p>
    }
    else
    {
        <table class="table table-striped mt-4">
            <thead>
                <tr>
                    <th>پرسش</th>
                    <th>پاسخ</th>
                    <th>ویرایش</th>
                    <th>پاک کردن</th>
                </tr>
            </thead>
            <tbody>
                @foreach (CardDto card in Model.CurrentDeck.Cards)
                {
                    int maxAnswerLength = 20;
                    string cleanAnsewerText = textHelper.StripHTML(card.Answer);
                    string answer = $"{cleanAnsewerText.Substring(0, cleanAnsewerText.Length > maxAnswerLength ? maxAnswerLength : cleanAnsewerText.Length)} ...";

                    <tr>
                        <td>@card.Question</td>
                        <td>@answer</td>
                        <td><a asp-page="@CardManagment.EditModel.AbsolutePath" asp-route-CardId="@card.Id"><i class="fas fa-edit"></i> ویرایش</a></td>
                        <td>
                            <a style="color:red" 
                            asp-page="@Pages.DeckManagment.DetailModel.AbsolutePath" 
                            asp-page-handler="CardDelete" 
                            asp-route-CardId="@card.Id" 
                            asp-route-DeckId = "@card.DeckId"
                            asp-route-PageNumber="@Model.CurrentPageNmber">
                                <i class="fas fa-trash-alt"></i> پاک کردن
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <hr />

    <div class="btn-toolbar ltr" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-grewrroup me-2" role="group" aria-label="First group">
            @for (int i = 1; i <= Model.NumberOfPages; i++)
            {
                bool isCurrentPageNumber = i == Model.CurrentPageNmber;
                string style = "btn-light";
                if (isCurrentPageNumber) style = "btn-dark";

                <a style=@style asp-page="@DeckManagment.DetailModel.AbsolutePath" asp-route-DeckId="@Model.CurrentDeck.Id" asp-route-PageNumber="@i" class="btn @style"><strong>@i</strong></a>
            }
        </div>
    </div>

</div>

@section Scripts
{
<script src="/js/bundle.js" asp-append-version="true"></script>
<partial name="_ValidationScriptsPartial"></partial>
}