@page "/Deck/Detail"
@model WebApp.Pages.DeckManagment.DetailModel
@{
    ViewData["Title"] = $"Deck Detial - {Model.Deck.Name}";

    AddNewEditCardPartialViewModel addNewEditCardPartialViewModel = new();
    addNewEditCardPartialViewModel.IsEdit = false;
    addNewEditCardPartialViewModel.Input.Card.DeckId = Model.Deck.Id;
}

@*
    <h1>Details of <a asp-page="@nameof(Pages.DeckManagment.DetailModel.Page)">@Model.Deck.Name</a></h1>
    <hr />
*@

@*<div class="border border-dark rounded p-4 pt-2 mb-4 mt-4 shadow">
    <h2 class="display-6">Add new card</h2>
    <form method="post" asp-controller="Card" asp-action="Add">
    <input id="Card_DeckId" name="Card.DeckId" value="@Model.Deck.Id" hidden />
    <input type="text" id="Card_Question" name="Card.Question" placeholder="Question" class="form-control" />
    <br />
    <textarea type="text" multiple id="Card_Answer" name="Card.Answer" placeholder="Answer" class="form-control"></textarea>
    <br />
    <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Save card</button>
    </form>
    </div>*@
<div class="border border-dark rounded p-4 pt-2 mb-4 mt-4 shadow">
    <h2 class="display-6">Add new card</h2>
    <partial name="/Pages/CardManagment/Partials/_AddNewEditCardPartialTemplate.cshtml" model="@addNewEditCardPartialViewModel" />
</div>

<div class="border border-dark rounded p-4 pt-2 mb-4 mt-4 shadow">
    <h2 class="display-6">Deck details</h2>
    @*<label asp-for="@Model.NumberOfPages">Number of cards in page </label>
        <input asp-for="@Model.NumberOfPages" />*@

    @if (@Model.Deck.Cards?.Count <= 0)
    {
        <p>No cards found for this deck.</p>
    }
    else
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@nameof(Card.Question)</th>
                    <th>@nameof(Card.Answer)</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Card card in Model.Deck.Cards)
                {
                    int maxAnswerLength = 20;
                    string answer = $"{card.Answer.Substring(0, card.Answer.Length > maxAnswerLength ? maxAnswerLength : card.Answer.Length)} ...";

                    <tr>
                        <td>@card.Question</td>
                        <td>@answer</td>
                        <td><a asp-page="@CardManagment.EditModel.AbsolutePath" asp-route-CardId="@card.Id"><i class="fas fa-edit"></i> Edit</a></td>
                        <td>
                            <a style="color:red" asp-controller="Card" asp-action="Delete" asp-route-CardId="@card.Id">
                                <i class="fas fa-trash-alt"></i> Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <hr />

    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="First group">
            @for (int i = 1; i <= Model.NumberOfPages; i++)
            {
                bool isCurrentPageNumber = i == Model.CurrentPageNmber;
                string style = "btn-light";
                if (isCurrentPageNumber) style = "btn-dark";

                <a style=@style asp-page="@DeckManagment.DetailModel.AbsolutePath" asp-route-DeckId="@Model.Deck.Id" asp-route-PageNumber="@i" class="btn @style"><strong>@i</strong></a>
            }
        </div>
    </div>

</div>


<a asp-page="@Pages.IndexModel.Path" class="btn btn-outline-primary shadow"><i class="fas fa-chevron-left"></i> Back</a>

@section Scripts
{
<script src="~/lib/fancybox/jquery.fancybox.min.js" asp-append-version="true"></script>
}
