@page "/Review"
@model WebApp.Pages.DeckManagment.ReviewModel
@{
    //Show image
    ShowImagesPartialViewModel showImagesPartialViewModel = new()
            {
                IsForEdit = false,
                Images = Model.ReviewCard?.Images
            };
}

<div class="border border-dark rounded p-4 mt-4 mb-4 shadow rtl">

    @if (Model.ReviewCard == null)
    {
        <h2 class="text-danger">No card exist for review</h2>
    }
    else
    {
        <div class="card border-primary mb-2">
            <div class="card-header bg-primary text-white"><strong><i class="far fa-question-circle"></i> پرسش @*- @Model.ReviewCard.EasinessFactor - @Model.ReviewCard.NextReviewDate - (@Model.ReviewCard.Repetitions)*@</strong></div>
            <div class="card-body bg-light">
                <p class="card-text fs-2">@Model.ReviewCard.Question</p>
            </div>
        </div>

        <button id="showAnswer" class="btn btn-primary ms-1" onclick="showHideFunc()"><i class="fa fs-3">🙈</i><br />پاسخ رو نشون بده</button>
        <a id="easyButton" style="display:none" class="btn btn-outline-success" asp-page="@Pages.DeckManagment.ReviewModel.AbsolutePath" asp-route-deckId="@Model.ReviewCard.DeckId" asp-route-cardId="@Model.ReviewCard.Id" asp-route-quality="3"><strong><i class="fa fs-3">🥳</i><br />آسون بود</strong> <i>(@Model.IntervalStrings.Easy)</i></a>
        <a id="goodButton" style="display:none" class="btn btn-outline-success" asp-page="@Pages.DeckManagment.ReviewModel.AbsolutePath" asp-route-deckId="@Model.ReviewCard.DeckId" asp-route-cardId="@Model.ReviewCard.Id" asp-route-quality="2"><strong><i class="fa fs-3">😏</i><br />بلد بودم</strong> <i>(@Model.IntervalStrings.Good)</i></a>
        <a id="hardButton" style="display:none" class="btn btn-outline-danger" asp-page="@Pages.DeckManagment.ReviewModel.AbsolutePath" asp-route-deckId="@Model.ReviewCard.DeckId" asp-route-cardId="@Model.ReviewCard.Id" asp-route-quality="1"><strong><i class="fa fs-3">🧐</i><br />سخت بود خدایی</strong> <i>(@Model.IntervalStrings.Hard)</i></a>
        <a id="againButton" style="display:none" class="btn btn-outline-danger" asp-page="@Pages.DeckManagment.ReviewModel.AbsolutePath" asp-route-deckId="@Model.ReviewCard.DeckId" asp-route-cardId="@Model.ReviewCard.Id" asp-route-quality="0"><strong><i class="fa fs-3">🙄</i><br />بلد نبودم</strong> <i>(@Model.IntervalStrings.IDontKnow)</i></a>

        <a id="incorrect" style="display:none" class="btn btn-danger"><i class="fa fa-times fa-lg" aria-hidden="true"></i> Incorrect</a>

        <div id="answerDiv" style="display:none" class="card border-success mt-2">
            <div class="card-header bg-success text-white"><strong><i class="far fa-lightbulb"></i> پاسخ</strong></div>
            <div class="card-body bg-light">

                <div class="ck-content" style="direction:rtl">
                    @Html.Raw(Model.ReviewCard.Answer)
                </div>

                @if (Model.ReviewCard.Images.Count > 0)
                {
                    <hr />
                }

                <partial name="/Pages/CardManagment/Partials/_ShowImagesPartial.cshtml" model="@showImagesPartialViewModel" />

            </div>
        </div>


    }
</div>


<a asp-page="@Pages.IndexModel.AbsolutePath" class="btn btn-outline-primary shadow"><i class="fas fa-chevron-left"></i> برگشت</a>


@section Scripts
{
<script src="~/lib/fancybox/jquery.fancybox.min.js" asp-append-version="true"></script>
<script>
        function showHideFunc() {

        var showAnswerButton = document.getElementById("showAnswer");
        var answerDiv = document.getElementById("answerDiv");
        var againButton = document.getElementById("againButton");
        var hardButton = document.getElementById("hardButton");
        var goodButton = document.getElementById("goodButton");
        var easyButton = document.getElementById("easyButton");

        //a.style.display= "none";
        if (showAnswerButton.innerHTML.includes('پاسخ رو نشون بده')) {
            answerDiv.style.display = "";
            againButton.style.display = "";
            hardButton.style.display = "";
            goodButton.style.display = "";
            easyButton.style.display = "";

            showAnswerButton.innerHTML = '<i class="fa fs-3">🙉</i><br />پاسخ رو پنهان کن';
        }
        else {
            answerDiv.style.display = "none";
            againButton.style.display = "none";
            hardButton.style.display = "none";
            goodButton.style.display = "none";
            easyButton.style.display = "none";
            showAnswerButton.innerHTML = '<i class="fa fs-3">🙈</i><br />پاسخ رو نشون بده';
        }
    }
</script>
}