@page "/Review"
@model WebApp.Pages.DeckManagment.ReviewModel
@{
    //Show image
    ShowImagesPartialViewModel showImagesPartialViewModel = new()
            {
                IsForEdit = false,
                Images = Model.ReviewCard?.Images
            };
}

@*<div class="border border-dark rounded p-1 ps-4 mt-4 mb-4 shadow">
    <h1 class="h1 display-6 text-muted">Review</h1>
    </div>*@
@*<div class="border border-dark rounded p-4 mt-4 mb-4 shadow">
    <div class="progress" style="height: 1pt;">
    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    </div>*@

<div class="border border-dark rounded p-4 mt-4 mb-4 shadow">

    @if (Model.ReviewCard == null)
    {
        <h2 class="text-danger">No card exist for review</h2>
    }
    else
    {
        <div class="card border-primary mb-2">
            <div class="card-header bg-primary text-white"><strong><i class="far fa-question-circle"></i> Question - @Model.ReviewCard.EasinessFactor - @Model.ReviewCard.NextReviewDate - (@Model.ReviewCard.Repetitions)</strong></div>
            <div class="card-body bg-light">
                <p class="card-text fs-2">@Model.ReviewCard.Question</p>
            </div>
        </div>

        <button id="showAnswer" class="btn btn-primary me-1" onclick="myFunction()"><i class="fa fa-eye fs-3" aria-hidden="true"></i><br /> Show</button>
        <a id="againButton" style="display:none" class="btn btn-outline-danger" asp-controller="Review" asp-action="Correct" asp-route-cardId="@Model.ReviewCard.Id" asp-route-quality="0"><strong><i class="fa fs-3">🤪</i><br />I don't know</strong> <i>(@Model.IntervalStrings.IDontKnow)</i></a>
        <a id="hardButton" style="display:none" class="btn btn-outline-danger" asp-controller="Review" asp-action="Correct" asp-route-cardId="@Model.ReviewCard.Id" asp-route-quality="1"><strong><i class="fa fs-3">🧐</i><br />Hard</strong> <i>(@Model.IntervalStrings.Hard)</i></a>
        <a id="goodButton" style="display:none" class="btn btn-outline-success" asp-controller="Review" asp-action="Correct" asp-route-cardId="@Model.ReviewCard.Id" asp-route-quality="2"><strong><i class="fa fs-3">😏</i><br />Good</strong> <i>(@Model.IntervalStrings.Good)</i></a>
        <a id="easyButton" style="display:none" class="btn btn-outline-success" asp-controller="Review" asp-action="Correct" asp-route-cardId="@Model.ReviewCard.Id" asp-route-quality="3"><strong><i class="fa fs-3">🥳</i><br />Easy</strong> <i>(@Model.IntervalStrings.Easy)</i></a>

        <a id="incorrect" style="display:none" class="btn btn-danger"><i class="fa fa-times fa-lg" aria-hidden="true"></i> Incorrect</a>

        <div id="answerDiv" style="display:none" class="card border-success mt-2">
            <div class="card-header bg-success text-white"><strong><i class="far fa-lightbulb"></i> Answer</strong></div>
            <div class="card-body bg-light">
                <p class="card-text fs-2">@Model.ReviewCard.Answer</p>

                @if (Model.ReviewCard.Images.Count > 0)
                {
                    <hr />
                }

                <partial name="/Pages/CardManagment/Partials/_ShowImagesPartial.cshtml" model="@showImagesPartialViewModel" />

            </div>
        </div>


    }
</div>


<a asp-page="@Pages.IndexModel.Path" class="btn btn-outline-primary shadow"><i class="fas fa-chevron-left"></i> Back</a>


@section Scripts
{
<script src="~/lib/fancybox/jquery.fancybox.min.js" asp-append-version="true"></script>


<script>

    function myFunction() {

      var showAnswerButton = document.getElementById("showAnswer");
      var answerDiv = document.getElementById("answerDiv");
      var againButton = document.getElementById("againButton");
      var hardButton = document.getElementById("hardButton");
      var goodButton = document.getElementById("goodButton");
      var easyButton = document.getElementById("easyButton");

      //a.style.display= "none";
      if(showAnswerButton.innerHTML.includes('Show'))
      {
            answerDiv.style.display = "";
            againButton.style.display = "";
            hardButton.style.display = "";
            goodButton.style.display = "";
            easyButton.style.display = "";

            showAnswerButton.innerHTML = '<i class="fa fa-eye-slash fs-3" aria-hidden="true"></i><br />Hide';
      }
      else
      {
            answerDiv.style.display = "none";
            againButton.style.display = "none";
            hardButton.style.display = "none";
            goodButton.style.display = "none";
            easyButton.style.display = "none";
            showAnswerButton.innerHTML = '<i class="fa fa-eye fs-3" aria-hidden="true"></i><br />Show';
      }




      //if (x.style.display === "none") {
      //  x.style.display = "";
      //  y.style.display = "";
      //} else {
      //  x.style.display = "none";
      //  y.style.display = "none"
      //}
    }
</script>
}