@page
@model IndexModel
@{
    ViewData["Title"] = "Dore Yar Home";
}




<div id="collapseDeckSection" drop1 style="display:none">

    @*    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2 row-cols-xxl-2 mt-4" style="border-color:red;">
    *@
    <div class="col mt-4" dir:"ltr">
        <div class=" border bg-white rounded p-4 pt-2 shadow rtl">
            <h4 class="mt-4 rtl "> افزودن دسته ی تازه</h4>
            <form method="post">
                <div class=" input-group mt-4 rtl">
                    <input asp-for="Input.Deck.Name" placeholder="نام دسته" class="form-control rounded rtl" />
                    <button type="submit" class="btn btn-primary rounded rtl me-1"><i class="fas fa-save"></i> ذخیره</button>

                </div>
                <span asp-validation-for="Input.Deck.Name" class="text-danger mt-1"></span>
            </form>
        </div>
    </div>
</div>

<div id="collapseCardSection" style="display:none">

    <div class="col mt-4" dir:"ltr">
        <div class="border bg-white rounded p-4 pt-2  shadow rtl">
            <h4 class="mt-4 rtl"><i class="fa fa-plus"></i> افزودن کارت تازه </h4>
            <form method="post" enctype="multipart/form-data">

                <input type="text" class="form-control rtl mt-4" placeholder="پرسش" value="" />
                <div class="rtl mt-1">
                    <span class="text-danger rtl"></span>
                </div>

                <div id="editor" class="form-control border rounded-2 mt-3"></div>
                <textarea hidden class="form-control" rows="4" placeholder="پاسخ خود را اینجا بنویسید ..." value=""></textarea>

                <div class="rtl mt-1">
                    <span class="text-danger rtl"></span>
                </div>

                <input type="file" class="form-control mt-3 rtl" placeholder="گزینش فایل برای بارگذاری ...">

                <button id="submit" type="submit" class="btn btn-primary mt-4 rtl"><i class="fas fa-save"></i> ذخیره کارت</button>
            </form>
        </div>
    </div>

</div>
@*</div>
*@




<div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-3 row-cols-xxl-4 mt-4">

    @*   @if (Model.Decks.Count == 0)
        {
        <div class="border bg-white rounded p-4 pt-2 mt-4 shadow rtl">

        <p class="mt-4">هنوز هیچ دسته ای نساخته اید.</p>
        <p> برای ساختن دسته، نام دسته را در بخش افزودن دسته بنویسید و بر روی دکمه ی ذخیره را کلیک کنید.</p>
        </div>
        }
    *@
    @foreach (DeckDto deck in Model.Decks)
    {
        string imagePath = string.Empty;
        if (string.IsNullOrWhiteSpace(deck.HeaderImageName))
            imagePath = "/img/default-deck-header-2560-1440.jpg";
        else
            imagePath = $"{FileHelper.DeckHeaderImagePath}/{deck.HeaderImageName}";

        AddNewEditCardPartialViewModel addNewEditCardPartialViewModel = new();
        addNewEditCardPartialViewModel.IsForEdit = false;
        addNewEditCardPartialViewModel.Input.Card.DeckId = deck.Id;

        <div class="col mb-4" dir:"ltr">
            <div class="card shadow rounded-3 rtl">
                <img class="card-img-top" src="@imagePath" alt="Card image cap" asp-append-version="true">
                <div class="card-body">
                    <h5 class="card-title">@deck.Name</h5>
                    <p class="card-text">@deck.Description</p>

                    <a asp-page="@DeckManagment.ReviewModel.AbsolutePath" asp-route-DeckId="@deck.Id" class="btn btn-primary float-end"><i class="fas fa-book-reader"></i> کارت های امروز</a>
                    <div class="dropdown fa-pull-right float-start">
                        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <ul class="dropdown-menu rtl" aria-labelledby="dropdownMenuButton1">
                            @{
                                string modalId = $"AndNewCard{deck.Id}";
                                string modalLabel = $"{modalId}Label";
                            }
                            @*<li><button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#@modalId"><i class="fas fa-plus"></i> Add new card</button></li>*@
                            <li class="float-end rounded"><a asp-page="@DeckManagment.DetailModel.AbsolutePath" asp-route-DeckId="@deck.Id" asp-route-PageNumber="1" class="dropdown-item rtl"><i class="fas fa-eye"></i> جزئیات </a></li>
                            <li class="float-end rounded"><a asp-page="@DeckManagment.SettingModel.AbsolutePath" asp-route-DeckId="@deck.Id" class="dropdown-item rtl"><i class="fas fa-cog"></i> تنظیمات </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="fab-container" style="margin:0;">
    <div class="fab fab-icon-holder">
        <i class="fas fa-bars"></i>
    </div>
    <ul class="fab-options" style="margin:0;">
        <li>
            <span class="fab-label" onclick="showHideDeckSection()">افزودن دسته ی تازه</span>
            <button class="fab-icon-holder" onclick="showHideDeckSection()">
                <i class="fas fa-plus"></i>
            </button>
        </li>
        <li>
            <span class="fab-label" onclick="showHideCardSection()">افزودن کارت تازه</span>
            <a class="fab-icon-holder" onclick="showHideCardSection()">
                <i class="fas fa-plus"></i>
            </a>
        </li>
    </ul>
</div>


@section Scripts
{
<script>

    function showHideDeckSection()
    {
        var deckSectionDiv = document.getElementById("collapseDeckSection");
        var cardSectionDiv = document.getElementById("collapseCardSection");
        //cardSectionDiv.style.display = "none";

        if(deckSectionDiv.style.display == "none")
        {
            deckSectionDiv.style.display = "";
        }
        else
        {
            deckSectionDiv.style.display = "none";
        }

        window.scrollTo(0, 0);

    }

    function showHideCardSection()
    {
        var cardSectionDiv = document.getElementById("collapseCardSection");
        var deckSectionDiv = document.getElementById("collapseDeckSection");
        //deckSectionDiv.style.display = "none";

        if(cardSectionDiv.style.display == "none")
        {
            cardSectionDiv.style.display = "";
        }
        else
        {
            cardSectionDiv.style.display = "none";
        }

                window.scrollTo(0, 0);

    }

    //    function showHideDeckSection() {

    //    var deckSectionDiv = document.getElementById("collapseDeckSection");

    //    if($(!$('collapseDeckSection').is(':visible'))
    //    {
    //        deckSectionDiv.style.display = ""
    //    }
    //    else
    //    {
    //        deckSectionDiv.style.display = "none"
    //    }

    //    ////a.style.display= "none";
    //    //if (showAnswerButton.innerHTML.includes('پاسخ رو نشون بده')) {
    //    //    answerDiv.style.display = "";
    //    //    againButton.style.display = "";
    //    //    hardButton.style.display = "";
    //    //    goodButton.style.display = "";
    //    //    easyButton.style.display = "";

    //    //    showAnswerButton.innerHTML = '<i class="fa fs-3">🙉</i><br />پاسخ رو پنهان کن';
    //    //}
    //    //else {
    //    //    answerDiv.style.display = "none";
    //    //    againButton.style.display = "none";
    //    //    hardButton.style.display = "none";
    //    //    goodButton.style.display = "none";
    //    //    easyButton.style.display = "none";
    //    //    showAnswerButton.innerHTML = '<i class="fa fs-3">🙈</i><br />پاسخ رو نشون بده';
    //    //}
    //}
</script>
}