@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Home</h1>
</div>


<h2>Add new deck</h2>

<form method="post" asp-controller="Deck" asp-action="Add">
    
    <label for="Deck_Name">Name </label>
    <input type="text" id="Deck_Name" name = "Deck.Name" />
    <button type="submit">Save</button>
</form>

<hr />

<h2>My decks</h2>

@if(@Model.Decks == null || @Model.Decks.Count <= 0)
{
    <div>
        <p>Not deck found</p>
    </div>
}
else
{
    foreach(Deck deck in Model.Decks)
    {
        <div>
            <a asp-page="@DeckMgmt.DetailModel.Path" asp-route-DeckId="@deck.Id" asp-route-pageNumber="1">@deck.Name</a>
            <a asp-page="/DeckMgmt/Edit"  asp-route-DeckId="@deck.Id">Edit</a>
            <a asp-controller = "Deck" asp-action="Delete"  asp-route-DeckId="@deck.Id">Delete</a>
        </div>
    }
}