@page
@model IndexModel
@{
    ViewData["Title"] = "Dore Yar Home";
}

<div class="row">

    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 ">

        <div class="border bg-white rounded p-4 pt-2 mt-4 shadow rtl">
            <h4 class="mt-4 rtl "> افزودن دسته ی تازه</h4>
            <form method="post">
                <div class=" input-group mt-4 rtl">
                    <input asp-for="Input.Deck.Name" placeholder="نام دسته" class="form-control rounded rtl" />
                    <button type="submit" class="btn btn-primary rounded rtl me-1"><i class="fas fa-save"></i> ذخیره</button>

                </div>
                <span asp-validation-for="Input.Deck.Name" class="text-danger mt-1"></span>
            </form>
        </div>

        <div class="border bg-white rounded p-4 pt-2 mt-4 shadow rtl">
            <h4 class="mt-4 rtl"><i class="fa fa-plus"></i> افزودن کارت تازه </h4>
            <form method="post" enctype="multipart/form-data">

                <input type="text" class="form-control rtl mt-4" placeholder="پرسش" value="" />
                <div class="rtl mt-1">
                    <span class="text-danger rtl"></span>
                </div>

                <div id="editor" class="form-control border rounded-2 mt-3"></div>
                <textarea hidden class="form-control" rows="4" placeholder="پاسخ خود را اینجا بنویسید ..." value=""></textarea>

                <div class="rtl mt-1">
                    <span class="text-danger rtl"></span>
                </div>

                <input type="file" class="form-control mt-3 rtl" placeholder="گزینش فایل برای بارگذاری ...">

                <button id="submit" type="submit" class="btn btn-primary mt-4 rtl"><i class="fas fa-save"></i> ذخیره کارت</button>
            </form>
        </div>

    </div>

    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">


        @if (Model.Decks.Count == 0)
        {
            <div class="border bg-white rounded p-4 pt-2 mt-4 shadow rtl">

                <p class="mt-4">هنوز هیچ دسته ای نساخته اید.</p>
                <p> برای ساختن دسته، نام دسته را در بخش افزودن دسته بنویسید و بر روی دکمه ی ذخیره را کلیک کنید.</p>
            </div>
        }

        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-2 row-cols-xxl-2 mt-4">



            @foreach (DeckDto deck in Model.Decks)
            {
                string imagePath = string.Empty;
                if (string.IsNullOrWhiteSpace(deck.HeaderImageName))
                    imagePath = "/img/default-deck-header-2560-1440.jpg";
                else
                    imagePath = $"{FileHelper.DeckHeaderImagePath}/{deck.HeaderImageName}";

                AddNewEditCardPartialViewModel addNewEditCardPartialViewModel = new();
                addNewEditCardPartialViewModel.IsForEdit = false;
                addNewEditCardPartialViewModel.Input.Card.DeckId = deck.Id;

                <div class="col mb-4" dir:"ltr">
                    <div class="card shadow rounded-3">
                        <img class="card-img-top" src="@imagePath" alt="Card image cap" asp-append-version="true">
                        <div class="card-body">
                            <h5 class="card-title">@deck.Name</h5>
                            <p class="card-text">@deck.Description</p>

                            <a asp-page="@DeckManagment.ReviewModel.AbsolutePath" asp-route-DeckId="@deck.Id" class="btn btn-primary float-end"><i class="fas fa-book-reader"></i> کارت های امروز</a>
                            <div class="dropdown fa-pull-right float-start">
                                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-ellipsis-h"></i>
                                </button>
                                <ul class="dropdown-menu rtl" aria-labelledby="dropdownMenuButton1">
                                    @{
                                        string modalId = $"AndNewCard{deck.Id}";
                                        string modalLabel = $"{modalId}Label";
                                    }
                                    @*<li><button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#@modalId"><i class="fas fa-plus"></i> Add new card</button></li>*@
                                    <li class="float-end rounded"><a asp-page="@DeckManagment.DetailModel.AbsolutePath" asp-route-DeckId="@deck.Id" asp-route-PageNumber="1" class="dropdown-item rtl"><i class="fas fa-eye"></i> جزئیات </a></li>
                                    <li class="float-end rounded"><a asp-page="@DeckManagment.SettingModel.AbsolutePath" asp-route-DeckId="@deck.Id" class="dropdown-item rtl"><i class="fas fa-cog"></i> تنظیمات </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</div>
