@page
@model IndexModel
@{
    ViewData["Title"] = "Dore Yar Home";
}

<div class="border border-dark rounded p-4 pt-2 mb-4 mt-4 shadow rtl">
    <h4 class="mt-4 rtl">افزودن دسته ی تازه</h4>
    <form method="post">

        <div class=" input-group mt-4 rtl">
            <input asp-for="Input.Deck.Name" placeholder="نام دسته" class="form-control rounded rtl" />
            <button type="submit" class="btn btn-primary rounded rtl me-1"><i class="fas fa-save"></i> انبار کردن</button>

        </div>
        <span asp-validation-for="Input.Deck.Name" class="text-danger mt-1"></span>
    </form>
</div>

<div class="border border-dark rounded p-4 pt-2 shadow rtl">
    <h4 class="mt-4 rtl">همه ی دسته ها</h4>

    @if (@Model.Decks == null || @Model.Decks.Count <= 0)
    {
        <div>
            <p class="mt-4">Not deck found</p>
        </div>
    }
    else
    {
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 mt-4">
            @foreach (DeckDto deck in Model.Decks)
            {
                string imagePath = string.Empty;
                if (string.IsNullOrWhiteSpace(deck.HeaderImageName))
                    imagePath = "/img/default-deck-header-2560-1440.jpg";
                else
                    imagePath = $"{FileHelper.DeckHeaderImagePath}/{deck.HeaderImageName}";

                AddNewEditCardPartialViewModel addNewEditCardPartialViewModel = new();
                addNewEditCardPartialViewModel.IsForEdit = false;
                addNewEditCardPartialViewModel.Input.Card.DeckId = deck.Id;

                <div class="col mb-4" dir:"ltr">
                    <div class="card shadow-sm rounded-3">
                        <img class="card-img-top" src="@imagePath" alt="Card image cap" asp-append-version="true">
                        <div class="card-body">
                            <h5 class="card-title">@deck.Name</h5>
                            <p class="card-text">@deck.Description</p>

                            <a asp-page="@DeckManagment.ReviewModel.AbsolutePath" asp-route-DeckId="@deck.Id" class="btn btn-primary float-end"><i class="fas fa-book-reader"></i> کارت های امروز</a>
                            <div class="dropdown fa-pull-right float-start">
                                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-ellipsis-h"></i>
                                </button>
                                <ul class="dropdown-menu rtl" aria-labelledby="dropdownMenuButton1">
                                    @{
                                        string modalId = $"AndNewCard{deck.Id}";
                                        string modalLabel = $"{modalId}Label";
                                    }
                                    @*<li><button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#@modalId"><i class="fas fa-plus"></i> Add new card</button></li>*@
                                    <li class="float-end rounded"><a asp-page="@DeckManagment.DetailModel.AbsolutePath" asp-route-DeckId="@deck.Id" asp-route-PageNumber="1" class="dropdown-item rtl"><i class="fas fa-eye"></i> جزئیات </a></li>
                                    <li class="float-end rounded"><a asp-page="@DeckManagment.SettingModel.AbsolutePath" asp-route-DeckId="@deck.Id" class="dropdown-item rtl"><i class="fas fa-cog"></i> تنظیمات </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                @*<div class="modal fade" id="@modalId" tabindex="-1" aria-labelledby="@modalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content p-0">
                    <div class="modal-header">
                    <h5 class="modal-title" id="@modalLabel">Add new card to <strong>@deck.Name</strong></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <partial name="/Pages/CardManagment/Partials/_AddNewEditCardPartialTemplate.cshtml" model="@addNewEditCardPartialViewModel" />
                    </div>
                    </div>
                    </div>
                    </div>*@

            }
        </div>
    }

</div>
